In [11]:
import pandas as pd
from sklearn.preprocessing import normalize

test = pd.DataFrame({'a':[1,2,3,4,5],'b':[5,4,3,2,1],'c':[1,1,1,1,1]})
test

   a  b  c
0  1  5  1
1  2  4  1
2  3  3  1
3  4  2  1
4  5  1  1

In [13]:
# axis zero seems to normalize the rows
pd.DataFrame(normalize(test, axis=0))

         0        1         2
0  0.13484  0.67420  0.447214
1  0.26968  0.53936  0.447214
2  0.40452  0.40452  0.447214
3  0.53936  0.26968  0.447214
4  0.67420  0.13484  0.447214

In [14]:
# axis 1 seems to normalize the columns
pd.DataFrame(normalize(test, axis=1))

          0         1         2
0  0.192450  0.962250  0.192450
1  0.436436  0.872872  0.218218
2  0.688247  0.688247  0.229416
3  0.872872  0.436436  0.218218
4  0.962250  0.192450  0.192450

In [15]:
# running without a specified axis seems to default to 1
pd.DataFrame(normalize(test))

          0         1         2
0  0.192450  0.962250  0.192450
1  0.436436  0.872872  0.218218
2  0.688247  0.688247  0.229416
3  0.872872  0.436436  0.218218
4  0.962250  0.192450  0.192450